.root {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  background-color: rgba(0, 0, 0, 0);
  margin: 20px;
}

.cell {
  border: 1px solid black;
  border-radius: 16px;
}

.title {
  justify-content: center;
  display: flex;
  margin: 4px;
}